body .modal-new-field-content {
    font-family: avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.dragable-icon {
    display: inline-block;
    font-family: dashicons;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: move;
}

.dragable-icon:before {
    content: "\f333";
}

.modal-new-field-content {
    background-color: #fefefe;
    position: absolute;
    box-shadow: 2px 8px 20px 3px rgb(0 0 0 / 20%);
    margin: auto;
    border-radius: 5px;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	overflow-y: auto;
}

.new-field-modal-header {
    padding: 18px 15px;
    -webkit-box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    box-shadow: 0 0 8px rgb(0 0 0 / 10%);
    text-align: center;
}

.new-field-header {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    padding-bottom: 3.5px;
}

.dashicon-close {
    font-family: dashicons;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    float: right;
    position: relative;
    bottom: 7px;
    cursor: pointer;
}

.dashicon-close:before {
    content: "\f158";
}

.modal-add-field {
    padding: 2rem;
}

.column {
    display: inline-block;
    padding: 20px;
}

.field-button-submit {
    width: 180px;
    height: 50px;
    cursor: pointer;
}

.select-lable {
    font-size: 1rem;
    padding: 0.5rem;
}

.input-field {
    transition: all 0.3s;
    height: 45px;
    width: 400px;
    padding: 0.5rem;
}

.submit-field {
    height: 45px;
    width: 400px;
    text-align: center;
}

.form-label {
    font-size: 1em;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translate3d(10px, -33px, 0px);
    transform-origin: 0 0;
    transition: all 0.3s;
}

.input-box {
    width: 100%;
    transition: all 0.5s;
    height: 45px;
}

select.input-box {
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 0;
}

input.input-box {
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 0;
    padding: 1.8rem 1rem 1rem 1rem;
}

.input-box::placeholder {
    color: transparent;
}

.input-box:focus {
    box-shadow: none;
    outline: none;
}

.input-box:focus + .form-label {
    transform: translate3d(10px, -40px, 0px) scale(0.8);
}

.input-box:focus + .form-label,
.input-box:not(:placeholder-shown) + .form-label {
    transform: translate3d(10px, -40px, 0px) scale(0.8);
}

.input-checkboxes {
    padding: 0.5rem;
}

.input-checkboxes label {
    font-size: 1rem;
}

.input-checkboxes input {
    border-radius: 5px;
    background-color: #f2f2f2;
    border: 0;
}

.table-form{
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #c3c4c7;
}

table#field-table {
    border-collapse: collapse;
    width: 100%;
}

tr.table-header-footer{
    background: #dcdcde;
}

table#field-table th, table#field-table td {
    padding: 1rem; 
    margin: none;
    text-align: center;
}

.row-disabled {
    opacity: 0.3;
}

.row-removed {
    background-color: lightcoral;
    opacity: 0.3;
}

tr.row-removed td {
    text-decoration: line-through;
}

